.label {
	& > * + * {
		margin-top: var(--space-2);
	}
}

.select {
	display: block;
	border-radius: var(--radius);
	width: 100%;
	background-color: var(--color-gray-100);
	padding: var(--space-2) var(--space-4);
	color: var(--color-black);
	box-shadow: var(--shadow);
}

:global(.dark) .select {
	background-color: var(--color-gray-700);
	color: var(--color-white);
}
