.spinner {
	height: 1.25rem;
	width: 1.25rem;
	color: var(--color-black);
	animation: spin 1s linear infinite;
}

:global(.dark) .spinner {
	color: var(--color-white);
}

.circle {
	opacity: 0.25;
}

.path {
	opacity: 0.75;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
