.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main {
	height: 100%;
	flex-grow: 1;
	background-color: var(--color-bg-elevated);
	color: var(--color-text);
	position: relative;
}
