.cell_summary {
	position: relative;
	cursor: context-menu;
	padding-inline: 1rem;

	anchor-scope: all;
	anchor-name: --summary;

	& ol {
		background: var(--bg-primary);
		box-shadow: 3px 3px 5px var(--shadow-primary);

		z-index: 2;
		position: fixed;
		position-anchor: --summary;
		top: anchor(top);
		left: anchor(right);

		width: fit-content;
		padding: 0.5rem 1rem;
		border-radius: 0.25rem;
		visibility: hidden;
	}
	&:hover ol {
		visibility: visible;
	}
}
