.btn_spacing {
	& > * + * {
		margin-left: var(--space-2);
	}
}

.icon {
	display: inline;
}

.align_middle {
	vertical-align: middle;
}

.form {
	border-radius: var(--radius);
	padding: var(--space-4);
}

.field_group {
	padding-bottom: var(--space-4);
}

.fieldset {
	& > * + * {
		margin-top: var(--space-2);
	}
}

.field {
	display: flex;
	flex-direction: column;

	& > * + * {
		margin-top: var(--space-2);
	}
}
