.panel {
	max-height: 100vh;
	width: 20rem;
	max-width: 100%;
	overflow-y: scroll;
	border-radius: var(--radius);
	padding: var(--space-4);
	display: flex;
	flex-direction: column;
}

.list {
	margin: var(--space-4);
	border-radius: var(--radius);
	background-color: var(--color-green-500);
	padding: var(--space-2);
}

.header {
	font-size: var(--font-size-2xl);
}
