.wrapper {
	padding-block: var(--space-4);
}

.toggle_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: transparent;
}

.toggle_label {
	padding-inline: var(--space-4);

	& > * + * {
		margin-left: var(--space-4);
	}
}

.toggle_text {
	height: 100%;
	vertical-align: middle;
}

.tooltip {
	display: flex;
	flex-direction: column;
}

.tooltip_value {
	color: var(--color-green-700);
}

:global(.dark) .tooltip_value {
	color: var(--color-green-500);
}
