.section_title {
	padding: var(--space-2) var(--space-4) 0;
	text-align: left;
	font-size: var(--font-size-xl);
	text-decoration: underline;
}

.category_row {
	color: var(--color-fuchsia-700);
}

:global(.dark) .category_row {
	color: var(--color-fuchsia-300);
}

.category_label {
	padding: 0 var(--space-8);
	text-align: left;
	font-weight: var(--font-weight-normal);
}

.item_row {
	padding: 0 var(--space-8);
}

.item_name {
	padding-left: var(--space-12);
}

.total_label {
	padding: 0 0 var(--space-2) var(--space-4);
	text-align: left;
}

.actions_header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: var(--space-4);
}

.income_bg {
	background-color: var(--color-green-200);
}

:global(.dark) .income_bg {
	background-color: var(--color-green-900);
}

.income_odd:nth-child(odd) {
	background-color: var(--color-green-300);
}

:global(.dark) .income_odd:nth-child(odd) {
	background-color: var(--color-green-700);
}

.expenses_bg {
	background-color: var(--color-red-200);
}

:global(.dark) .expenses_bg {
	background-color: var(--color-red-900);
}

.expenses_odd:nth-child(odd) {
	background-color: var(--color-red-300);
}

:global(.dark) .expenses_odd:nth-child(odd) {
	background-color: var(--color-red-700);
}
