.container {
	background-color: var(--color-blue-100);
}

:global(.dark) .container {
	background-color: var(--color-blue-900);
}

.title {
	padding: var(--space-2) var(--space-4) 0;
	text-align: left;
	font-size: var(--font-size-xl);
	text-decoration: underline;
}

.row:nth-child(odd) {
	background-color: var(--color-blue-200);
}

:global(.dark) .row:nth-child(odd) {
	background-color: var(--color-blue-800);
}

.name {
	padding-left: var(--space-8);
	color: var(--color-fuchsia-700);
}

:global(.dark) .name {
	color: var(--color-fuchsia-500);
}

.total_row {
	font-weight: var(--font-weight-bold);
}

.total_label {
	padding: 0 var(--space-4) var(--space-2);
}

.actions_header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: var(--space-4);
}
