.container {
	display: flex;
	width: 100%;
	flex-direction: row;
	border-radius: var(--radius-md);
	background-color: var(--color-bg-subtle);
	padding: var(--space-4);

	& > * + * {
		margin-left: var(--space-4);
	}
}

.left {
	justify-content: flex-start;
}

.center {
	justify-content: center;
}

.right {
	justify-content: flex-end;
}
