.heading {
	text-align: center;
	font-size: var(--font-size-2xl);
	color: var(--color-action-positive);
}

.panel {
	margin-inline: var(--space-8);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	background-color: var(--color-gray-300);
}

@media (prefers-color-scheme: dark) {
	.panel {
		background-color: var(--color-gray-700);
	}
}

.table {
	width: 100%;
}

.footer {
	padding: var(--space-4);
}

.add_button {
	& > * + * {
		margin-left: var(--space-2);
	}
}

.icon {
	display: inline;
}

.label {
	vertical-align: middle;
}
