.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--color-chrome);
	padding-top: max(var(--space-2), env(safe-area-inset-top));
	padding-bottom: var(--space-2);
	padding-left: max(var(--space-4), env(safe-area-inset-left));
	padding-right: max(var(--space-4), env(safe-area-inset-right));
	color: var(--color-gray-300);
}

.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--space-4);
}
