@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@oliverflecke/components-react/dist/main';

@layer {
	h2 {
		@apply text-2xl;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

#id {
	@apply bg-white dark:bg-black;
}

.flex-col-center {
	@apply flex flex-col items-center justify-center;
}
