@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@oliverflecke/components-react/dist/main';

@layer base {
	h2 {
		@apply text-2xl;
	}
}

@layer utilities {
	.tooltip {
		@apply absolute w-32 rounded px-2 text-center dark:bg-gray-800 dark:text-white;
		visibility: hidden;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;

		&::after {
			@apply absolute top-full left-1/2;
			content: '';
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

#id {
	@apply bg-white dark:bg-black;
}

.flex-col-center {
	@apply flex flex-col items-center justify-center;
}
